process {
  withName:porechop {
    container = " biocontainers/porechop"
}
  withName:minimap2 {
    container = "biocontainers/minimap2"
}
  withName:samtools {
    container = "staphb/samtools:1.17"
}
  withName:bedtools {
    container = "biocontainers/bedtools"
}
  withName:igvreports {
    container = "biocontainers/igv-reports"
}
  withName:splitbam {
    container = "staphb/samtools:1.17"
}
  withName:mapped_ref {
     container = "biocontainers/seqtk"
}
  withName:mapped_ref_bed {
     container = "staphb/samtools:1.17"
}
  withName:multiqc {
	container = "biocontainers/multiqc"
}
  withName:kraken2 {
	container = "biocontainers/kraken2"
} 
  withName:centrifuge {
	container = "biocontainers/centrifuge"
}
  withName:krona {
    container = "biocontainers/krona"
}
} 
docker {
    enabled = true
}